.custAlert{
    position:fixed;
    top:15vh;
    left:50%;
    transform: translateX(-50%);
    z-index: 90;
    background-color: white;
    width:95%;
    max-width:800px;
    min-height: 400px;
    
    border-radius:28px;
    padding-top:20px;
    animation: slideDown 1s ease-out;
    overflow: hidden;

}
.custAlert .alertbody{
    max-height: 70vh;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
}
@keyframes slideDown{
    0%{
        transform: translate(-50%,-170vh);
    }
    100%{
        transform: translate(-50%,0);
    }
}
.backdropAlert{
    position: fixed;
    background-color: rgba(28, 36, 39, 0.945);
    top:0;left:0;bottom: 0;right:0;
    z-index: 84;

}
.custAlert p{
    margin:30px;
    font-size: 17px;

}
