.d-flex{
  display: flex;
}

.justify-between{
  justify-content: space-between;
  align-items: center;
}
.align-center{
  align-items: center;

}

.justify-right{
  justify-content: flex-end;
}

.mb-4{
  margin-bottom: 2em;
}